# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/database-data/.my-healthcheck.cnf
/backend/public/img/ingredient/argile-blanche-kaolin-65b0f961e936f435891910.jpeg
/backend/public/img/ingredient/argile-jaune-65b0f9919d25f781786575.jpeg
/backend/public/img/ingredient/argile-rose-65b0f97cb1ec0357104954.jpeg
/backend/public/img/ingredient/argile-rouge-65b0f9abf3b4f043071809.jpeg
/backend/public/img/ingredient/argile-verte-65b0f94805317096914836.jpeg
/database-data/aria_log.00000001
/database-data/aria_log_control
/backend/public/img/ingredient/beurre-d-amande-65b0f92ad905e696878144.jpeg
/backend/public/img/ingredient/beurre-d-avocat-65b0f8ec020ed529288843.jpeg
/backend/public/img/ingredient/beurre-de-cacao-65b0f8c6e30e5003107967.jpeg
/backend/public/img/ingredient/beurre-de-karite-65b0f89969db6671010743.jpeg
/backend/public/img/ingredient/beurre-de-mangue-65b0f90bd280e879193315.jpeg
/backend/public/img/materiel/bol-en-metal-65b0f1e719ddd736126971.jpeg
/backend/public/img/materiel/bolenverre-65b0f0ff47b0b756676546.jpeg
/backend/public/img/recette/bombes-de-bain-citron-menthe-65b229d89a04d192609802.jpg
/backend/public/img/materiel/bouteille-en-verre-ambre-avec-bouchon-a-vis-65b0f2bb4ef4a848398832.jpeg
/backend/public/img/recette/brume-relaxante-a-la-lavande-65b2259aa55d4884460994.jpg
/backend/public/img/recette/brume-relaxante-a-la-lavande-65b22664da846886131143.jpg
/backend/public/img/ingredient/citrus-limon-65b0f71e55fb9482678543.jpeg
/database-data/mysql/column_stats.frm
/database-data/mysql/column_stats.MAD
/database-data/mysql/column_stats.MAI
/database-data/mysql/columns_priv.frm
/database-data/mysql/columns_priv.MAD
/database-data/mysql/columns_priv.MAI
/backend/public/img/materiel/cuillereenbois-65b0f15f7021c828645631.jpeg
/database-data/mysql/db.frm
/database-data/mysql/db.MAD
/database-data/mysql/db.MAI
/database-data/mysql/db.opt
/database-data/performance_schema/db.opt
/database-data/sys/db.opt
/backend/public/img/materiel/entonnoir-65b0f2fc227c8045560919.jpeg
/backend/public/img/materiel/etiquettes-pour-l-identification-65b0f34f2f74b477610154.jpeg
/database-data/mysql/event.frm
/database-data/mysql/event.MAD
/database-data/mysql/event.MAI
/database-data/mysql/func.frm
/database-data/mysql/func.MAD
/database-data/mysql/func.MAI
/database-data/mysql/general_log.CSM
/database-data/mysql/general_log.CSV
/database-data/mysql/general_log.frm
/database-data/mysql/global_priv.frm
/database-data/mysql/global_priv.MAD
/database-data/mysql/global_priv.MAI
/database-data/mysql/gtid_slave_pos.frm
/database-data/mysql/gtid_slave_pos.ibd
/database-data/mysql/help_category.frm
/database-data/mysql/help_category.MAD
/database-data/mysql/help_category.MAI
/database-data/mysql/help_keyword.frm
/database-data/mysql/help_keyword.MAD
/database-data/mysql/help_keyword.MAI
/database-data/mysql/help_relation.frm
/database-data/mysql/help_relation.MAD
/database-data/mysql/help_relation.MAI
/database-data/mysql/help_topic.frm
/database-data/mysql/help_topic.MAD
/database-data/mysql/help_topic.MAI
/database-data/sys/host_summary.frm
/database-data/sys/host_summary_by_file_io.frm
/database-data/sys/host_summary_by_file_io_type.frm
/database-data/sys/host_summary_by_stages.frm
/database-data/sys/host_summary_by_statement_latency.frm
/database-data/sys/host_summary_by_statement_type.frm
/backend/public/img/ingredient/huile-d-amande-douce-65b0f7bbb2921306736177.jpeg
/backend/public/img/ingredient/huile-d-argan-65b0f803c1807933622625.jpeg
/backend/public/img/ingredient/huile-d-avoca-65b0f84b6d203863584937.jpeg
/backend/public/img/ingredient/huile-de-coco-65b0f7e2eecc5650663400.jpeg
/backend/public/img/ingredient/huile-de-jojoba-65b0f82855aea948376153.jpeg
/backend/public/img/recette/huile-de-massage-a-la-rose-65b2286f89dda058844904.jpg
/backend/public/img/ingredient/huile-de-rose-musquee-65b0f869aea98275069048.jpeg
/database-data/ib_buffer_pool
/database-data/ib_logfile0
/database-data/ibdata1
/database-data/ibtmp1
/database-data/mysql/index_stats.frm
/database-data/mysql/index_stats.MAD
/database-data/mysql/index_stats.MAI
/database-data/sys/innodb_buffer_stats_by_schema.frm
/database-data/sys/innodb_buffer_stats_by_table.frm
/database-data/mysql/innodb_index_stats.frm
/database-data/mysql/innodb_index_stats.ibd
/database-data/sys/innodb_lock_waits.frm
/database-data/mysql/innodb_table_stats.frm
/database-data/mysql/innodb_table_stats.ibd
/database-data/sys/io_by_thread_by_latency.frm
/database-data/sys/io_global_by_file_by_bytes.frm
/database-data/sys/io_global_by_file_by_latency.frm
/database-data/sys/io_global_by_wait_by_bytes.frm
/database-data/sys/io_global_by_wait_by_latency.frm
/database-data/sys/latest_file_io.frm
/backend/public/img/ingredient/lavandula-angustifolia-65b0f67eee00f204518343.jpeg
/database-data/sys/memory_by_host_by_current_bytes.frm
/database-data/sys/memory_by_thread_by_current_bytes.frm
/database-data/sys/memory_by_user_by_current_bytes.frm
/database-data/sys/memory_global_by_current_bytes.frm
/database-data/sys/memory_global_total.frm
/backend/public/img/ingredient/mentha-spicata-65b0f77c17e7d454514897.jpg
/backend/public/img/ingredient/mentha-x-piperita-65b0f753a003f752838719.jpg
/database-data/sys/metrics.frm
/backend/public/img/materiel/moules-a-bombe-de-bain-65b0f22d559cc024091917.jpeg
/database-data/multi-master.info
/database-data/mysql_upgrade_info
/backend/public/img/recette/parfum-vanille-coco-65b2279a16cb3121631902.jpeg
/database-data/mysql/plugin.frm
/database-data/mysql/plugin.MAD
/database-data/mysql/plugin.MAI
/backend/public/img/materiel/pot-en-verre-pour-le-stockage-65b0f1a71391b745495748.jpeg
/database-data/mysql/proc.frm
/database-data/mysql/proc.MAD
/database-data/mysql/proc.MAI
/database-data/sys/processlist.frm
/database-data/mysql/procs_priv.frm
/database-data/mysql/procs_priv.MAD
/database-data/mysql/procs_priv.MAI
/database-data/mysql/proxies_priv.frm
/database-data/mysql/proxies_priv.MAD
/database-data/mysql/proxies_priv.MAI
/database-data/sys/ps_check_lost_instrumentation.frm
/database-data/mysql/roles_mapping.frm
/database-data/mysql/roles_mapping.MAD
/database-data/mysql/roles_mapping.MAI
/backend/public/img/ingredient/rosa-damascena-65b0f79b8db91039434574.jpeg
/database-data/sys/schema_auto_increment_columns.frm
/database-data/sys/schema_index_statistics.frm
/database-data/sys/schema_object_overview.frm
/database-data/sys/schema_redundant_indexes.frm
/database-data/sys/schema_table_lock_waits.frm
/database-data/sys/schema_table_statistics.frm
/database-data/sys/schema_table_statistics_with_buffer.frm
/database-data/sys/schema_tables_with_full_table_scans.frm
/database-data/sys/schema_unused_indexes.frm
/backend/public/img/recette/sels-de-bain-a-la-lavande-65b22e1216c47555645717.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a1a91b44823193336.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a7c0f04e999702736.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a083ce30435048166.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a341b873981466261.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a743fd92058400378.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a5895d20435068523.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23ace24a15281245675.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23ae2c018f188845899.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23b4880bb2490092964.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b239fa93282073632737.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23949b8e99151052765.jpg
/database-data/mysql/servers.frm
/database-data/mysql/servers.MAD
/database-data/mysql/servers.MAI
/database-data/sys/session.frm
/database-data/sys/session_ssl_status.frm
/database-data/mysql/slow_log.CSM
/database-data/mysql/slow_log.CSV
/database-data/mysql/slow_log.frm
/database-data/sys/statement_analysis.frm
/database-data/sys/statements_with_errors_or_warnings.frm
/database-data/sys/statements_with_full_table_scans.frm
/database-data/sys/statements_with_runtimes_in_95th_percentile.frm
/database-data/sys/statements_with_sorting.frm
/database-data/sys/statements_with_temp_tables.frm
/database-data/sys/sys_config.frm
/database-data/sys/sys_config.MAD
/database-data/sys/sys_config.MAI
/database-data/mysql/table_stats.frm
/database-data/mysql/table_stats.MAD
/database-data/mysql/table_stats.MAI
/database-data/mysql/tables_priv.frm
/database-data/mysql/tables_priv.MAD
/database-data/mysql/tables_priv.MAI
/database-data/mysql/time_zone.frm
/database-data/mysql/time_zone.MAD
/database-data/mysql/time_zone.MAI
/database-data/mysql/time_zone_leap_second.frm
/database-data/mysql/time_zone_leap_second.MAD
/database-data/mysql/time_zone_leap_second.MAI
/database-data/mysql/time_zone_name.frm
/database-data/mysql/time_zone_name.MAD
/database-data/mysql/time_zone_name.MAI
/database-data/mysql/time_zone_transition.frm
/database-data/mysql/time_zone_transition.MAD
/database-data/mysql/time_zone_transition.MAI
/database-data/mysql/time_zone_transition_type.frm
/database-data/mysql/time_zone_transition_type.MAD
/database-data/mysql/time_zone_transition_type.MAI
/database-data/mysql/transaction_registry.frm
/database-data/mysql/transaction_registry.ibd
/database-data/mysql/user.frm
/database-data/sys/user_summary.frm
/database-data/sys/user_summary_by_file_io.frm
/database-data/sys/user_summary_by_file_io_type.frm
/database-data/sys/user_summary_by_stages.frm
/database-data/sys/user_summary_by_statement_latency.frm
/database-data/sys/user_summary_by_statement_type.frm
/backend/public/img/materiel/vaporisateur-d-eau-65b0f2690e557949116877.jpeg
/database-data/sys/version.frm
/database-data/sys/wait_classes_global_by_avg_latency.frm
/database-data/sys/wait_classes_global_by_latency.frm
/database-data/sys/waits_by_host_by_latency.frm
/database-data/sys/waits_by_user_by_latency.frm
/database-data/sys/waits_global_by_latency.frm
/database-data/sys/x@0024host_summary.frm
/database-data/sys/x@0024host_summary_by_file_io.frm
/database-data/sys/x@0024host_summary_by_file_io_type.frm
/database-data/sys/x@0024host_summary_by_stages.frm
/database-data/sys/x@0024host_summary_by_statement_latency.frm
/database-data/sys/x@0024host_summary_by_statement_type.frm
/database-data/sys/x@0024innodb_buffer_stats_by_schema.frm
/database-data/sys/x@0024innodb_buffer_stats_by_table.frm
/database-data/sys/x@0024innodb_lock_waits.frm
/database-data/sys/x@0024io_by_thread_by_latency.frm
/database-data/sys/x@0024io_global_by_file_by_bytes.frm
/database-data/sys/x@0024io_global_by_file_by_latency.frm
/database-data/sys/x@0024io_global_by_wait_by_bytes.frm
/database-data/sys/x@0024io_global_by_wait_by_latency.frm
/database-data/sys/x@0024latest_file_io.frm
/database-data/sys/x@0024memory_by_host_by_current_bytes.frm
/database-data/sys/x@0024memory_by_thread_by_current_bytes.frm
/database-data/sys/x@0024memory_by_user_by_current_bytes.frm
/database-data/sys/x@0024memory_global_by_current_bytes.frm
/database-data/sys/x@0024memory_global_total.frm
/database-data/sys/x@0024processlist.frm
/database-data/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
/database-data/sys/x@0024ps_digest_avg_latency_distribution.frm
/database-data/sys/x@0024ps_schema_table_statistics_io.frm
/database-data/sys/x@0024schema_flattened_keys.frm
/database-data/sys/x@0024schema_index_statistics.frm
/database-data/sys/x@0024schema_table_lock_waits.frm
/database-data/sys/x@0024schema_table_statistics.frm
/database-data/sys/x@0024schema_table_statistics_with_buffer.frm
/database-data/sys/x@0024schema_tables_with_full_table_scans.frm
/database-data/sys/x@0024session.frm
/database-data/sys/x@0024statement_analysis.frm
/database-data/sys/x@0024statements_with_errors_or_warnings.frm
/database-data/sys/x@0024statements_with_full_table_scans.frm
/database-data/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
/database-data/sys/x@0024statements_with_sorting.frm
/database-data/sys/x@0024statements_with_temp_tables.frm
/database-data/sys/x@0024user_summary.frm
/database-data/sys/x@0024user_summary_by_file_io.frm
/database-data/sys/x@0024user_summary_by_file_io_type.frm
/database-data/sys/x@0024user_summary_by_stages.frm
/database-data/sys/x@0024user_summary_by_statement_latency.frm
/database-data/sys/x@0024user_summary_by_statement_type.frm
/database-data/sys/x@0024wait_classes_global_by_avg_latency.frm
/database-data/sys/x@0024wait_classes_global_by_latency.frm
/database-data/sys/x@0024waits_by_host_by_latency.frm
/database-data/sys/x@0024waits_by_user_by_latency.frm
/database-data/sys/x@0024waits_global_by_latency.frm
/backend/public/img/ingredient/argile-blanche-kaolin-65b0f961e936f435891910.jpeg
/backend/public/img/ingredient/argile-jaune-65b0f9919d25f781786575.jpeg
/backend/public/img/ingredient/argile-rose-65b0f97cb1ec0357104954.jpeg
/backend/public/img/ingredient/argile-rouge-65b0f9abf3b4f043071809.jpeg
/backend/public/img/ingredient/argile-verte-65b0f94805317096914836.jpeg
/backend/public/img/ingredient/beurre-d-amande-65b0f92ad905e696878144.jpeg
/backend/public/img/ingredient/beurre-d-avocat-65b0f8ec020ed529288843.jpeg
/backend/public/img/ingredient/beurre-de-cacao-65b0f8c6e30e5003107967.jpeg
/backend/public/img/ingredient/beurre-de-karite-65b0f89969db6671010743.jpeg
/backend/public/img/ingredient/beurre-de-mangue-65b0f90bd280e879193315.jpeg
/backend/public/img/materiel/bol-en-metal-65b0f1e719ddd736126971.jpeg
/backend/public/img/materiel/bolenverre-65b0f0ff47b0b756676546.jpeg
/backend/public/img/recette/bombes-de-bain-citron-menthe-65b229d89a04d192609802.jpg
/backend/public/img/materiel/bouteille-en-verre-ambre-avec-bouchon-a-vis-65b0f2bb4ef4a848398832.jpeg
/backend/public/img/recette/brume-relaxante-a-la-lavande-65b2259aa55d4884460994.jpg
/backend/public/img/recette/brume-relaxante-a-la-lavande-65b22664da846886131143.jpg
/backend/public/img/ingredient/citrus-limon-65b0f71e55fb9482678543.jpeg
/backend/public/img/materiel/cuillereenbois-65b0f15f7021c828645631.jpeg
/backend/public/img/materiel/entonnoir-65b0f2fc227c8045560919.jpeg
/backend/public/img/materiel/etiquettes-pour-l-identification-65b0f34f2f74b477610154.jpeg
/backend/public/img/ingredient/huile-d-amande-douce-65b0f7bbb2921306736177.jpeg
/backend/public/img/ingredient/huile-d-argan-65b0f803c1807933622625.jpeg
/backend/public/img/ingredient/huile-d-avoca-65b0f84b6d203863584937.jpeg
/backend/public/img/ingredient/huile-de-coco-65b0f7e2eecc5650663400.jpeg
/backend/public/img/ingredient/huile-de-jojoba-65b0f82855aea948376153.jpeg
/backend/public/img/recette/huile-de-massage-a-la-rose-65b2286f89dda058844904.jpg
/backend/public/img/ingredient/huile-de-rose-musquee-65b0f869aea98275069048.jpeg
/backend/public/img/ingredient/lavandula-angustifolia-65b0f67eee00f204518343.jpeg
/backend/public/img/ingredient/mentha-spicata-65b0f77c17e7d454514897.jpg
/backend/public/img/ingredient/mentha-x-piperita-65b0f753a003f752838719.jpg
/backend/public/img/materiel/moules-a-bombe-de-bain-65b0f22d559cc024091917.jpeg
/backend/public/img/recette/parfum-vanille-coco-65b2279a16cb3121631902.jpeg
/backend/public/img/materiel/pot-en-verre-pour-le-stockage-65b0f1a71391b745495748.jpeg
/backend/public/img/ingredient/rosa-damascena-65b0f79b8db91039434574.jpeg
/backend/public/img/recette/sels-de-bain-a-la-lavande-65b22e1216c47555645717.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a1a91b44823193336.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a7c0f04e999702736.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a083ce30435048166.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a341b873981466261.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a743fd92058400378.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23a5895d20435068523.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23ace24a15281245675.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23ae2c018f188845899.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23b4880bb2490092964.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b239fa93282073632737.jpg
/backend/public/img/recette/serum-anti-age-a-la-rose-65b23949b8e99151052765.jpg
/backend/public/img/materiel/vaporisateur-d-eau-65b0f2690e557949116877.jpeg
