.recipe {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    margin: 50px;
    padding: 10px;
}

.recipe-header {
    text-align: center;
}

.recipe-content {
    margin-top: 10px;
    text-align: center;
}

.recipe-content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.recipe-footer {
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
}
