
.recipe {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 16px;
}

.recipe-header {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;

}

.recipe-header h2 {
    margin: 0;
}

.recipe-content {
    margin-top: 16px;
}

.recipe-content p {
    color: #333;
    font-size: 25px;
    line-height: 1.5;
    align-content: center;

}

/* Style for the image */
.recipe-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}