.formulaire{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'FreeMono', sans-serif;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-container {
    display: grid;
    gap: 20px;
}

label {
    font-size: 16px;
    color: #444;
}

.input-field{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s, background-color 0.3s;
}

.input-field:focus,
.file-label:focus {
    border-color: #BBB6AF;
    background-color: #fff;
}

.submit-button {
    background-color: #BBB6AF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

}


.submit-button:hover {
    background-color: #A6A29A;

}