@import './base.css';

a{
  text-decoration: none;
  color: black;
}
.navbar {
  background-color: #EFEDE9;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: 'FreeMono', sans-serif;
}

.logo {
  width: 10%;
}

.router-link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.router-link:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEDE9;

}
