@import './base.css';

.navbar {
  background-color: #EFEDE9;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: 'FreeMono', sans-serif;

}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.router-link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.router-link:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEDE9;

}
