@import './base.css';

.navbar {
  background-color: #3498db;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.router-link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.router-link:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}
