.button-premium{
    background-color: #2196f3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-align: center;
    font-family: "FreeMono", sans-serif;
    margin-top: 10px;
}

h3{
    text-align: center;
}